<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/payment.css">
</head>

<body>
  <div class="payment-success">
    <div class="card">
      <p>Payment success</p>
      <p>Thanks for order Us</p>
    </div>
    <a href="/customer"><button class="back-to-home" type="button">Back to Home</button></a>
  </div>
</body>

</html>