<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="">Home</a>
            <a href=""></a>
        </nav>
        <div class="card card-services">
            <p><%= name si service %></p>
            <p><%= price si service %></p>
            <p><%= di sini valuenya nama, berdasarkan technicianid %></p>
            <a href=""><button>Booking</button></a> <!-- kita arahkan ke tampilan booking -->
        </div>
        <footer>
            <p>ini isi footernya</p>
        </footer>
    </div>
</body>
</html>